.wrapper {
      width: 900px;
      height: 447px;
      margin-left: 0;
      margin-right: auto;
      background-color: white;
      border: 1px solid black;
    }

.header{
      width: 900px;
      height: 50px;
      border: 1px solid black;
      background-color: white;
      text-align: center;
      background-color: #b5dde6;
      color:  #566499;
          
}

 body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    nav {
      background: linear-gradient(to top, #80b4bd, #c6eef7);
      padding: 1em;
      text-align: center;

    }

    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 1.5em;
    }

    nav ul li {
      display: inline;
    }

    nav ul li a {
      text-decoration: none;
      color: #333;
      font-weight: bold;

    }

    nav ul li a:hover {
      text-decoration: underline;
    }

    .side-content{
      width: 300px;
      height: fit-content;

      background-color: rgb(209, 132, 205);
      box-sizing: border-box;

      padding: 8px;



}

.side-title{
      width: 100%;
      box-sizing: border-box;

      background-color: #910ca8;
      color: white;
      font-size: 30px;

      text-align: center;
      padding: 4px;

      border-top-right-radius: 4px;
      border-top-right-radius: 4px;

}

.side-article{

      color: white;
      border: 3px solid #910ca8;

      box-sizing: border-box;
      padding: 5px;
      text-indent: 1em;


}

.pretty-table thead{
      background-color: rgba(207, 162, 235, 0.5);

}

.pretty-table tbody{
      background-color: rgba(112, 162, 235, 0.5);
}

.pretty-table{
      border-spacing: 0px 2px;
      background-image: url(lightbulb.png);
      background-repeat: no-repeat;
      background-size: 100px;
      background-position: bottom right;
      background-color: rgba(207, 162, 235, 0.5);
      box-shadow: 5px 5px 15px 5px #000000;
}

.pretty-table th{
      padding-right: 15px;
}

footer{
      width: 100%;
      text-align: center;
      background-color: #b5dde6;
      color: white;
      padding-top: 5px;
      padding-bottom: 5px;
}

.table-div{
      padding-top: 100px;
      padding-left: 100px;
      width: 400px;

}

main{
      display: flex;
}


