#wrapper{
	background-color: blue;
	width: 900px;
}

header{
	width: 100%;
	background-color: grey;

	text-align: center;

	padding-top: 10px;
	padding-bottom: 10px;
}

nav{
	width: 100%;
	height: 50px;

	background: Linear-gradient(black,	white);

	text-align: center;
	padding-top: 9px;
	box-sizing: border-box;
}

nav li {
	display: inline-block;

	color: white;
	padding-right: 15px;
	border-right: 1px solid white;
	padding-left: 15px;
	font-size: 20px;
	box-sizing: border-box;
	padding-top: 6px;
}

nav a:first-child{
	border-left: 1px solid white;
}

nav ul{
	margin: 0px;
}

nav ul a:hover{
	background-color: #f6f5dd;
	height: 35px;
	border-top: 6px solid green;
	padding-top: 0px;
}

main{
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	background-color: #f6f5dd;

	display: flex;
}

.side-content{
	width: 200px;
	min-height: 400px;

	background-color: #450f10;
	box-sizing: border-box;

	padding: 8px;



}

.side-title{
	width: 100%;
	box-sizing: border-box;

	background-color: black;
	color: white;
	font-size: 30px;

	text-align: center;
	padding: 4px;

	border-top-right-radius: 4px;
	border-top-right-radius: 4px;

}

.side-article{

	color: white;
	border: 3px solid black;

	box-sizing: border-box;
	padding: 5px;
	text-indent: 1em;

}

.main-content{
	width: 500px;
	box-sizing: border-box;
	padding: 10px;
	line-height: 1.4;
	text-indent: 1em;
}

.main-content img{
	float: left;
	margin: 10px;
	margin-right: 10px;
}

footer{
	width: 100%;
	text-align: center;
	background-color: black;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}